# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
desktop.ini

# Environment variable files
.env
.env.*
.secret

# Pyre type checker
.pyre/

# MyPy type checker
.mypy_cache/

# Flask instance folder
instance/

# Celery beat schedule file
celerybeat-schedule

# Django specific
*.log
db.sqlite3
media/
staticfiles/

# Anaconda
*.conda
*.ipynb

# Database files
*.db